.rdp-cell{
    padding: 10px;
}
@media only screen and (max-width: 762px) {
    .rdp-cell{
        padding: 5px;
    }
  }
@media only screen and (max-width: 480px) {
    .rdp-cell{
        padding: 2px;
    }
  }